.map-screen
    &__header
        margin-top: 144px
        margin-bottom: 18px
        color: $ui.color.violet
        font-size: 72px
        line-height: 1

    &__description
        margin-top: -18px
        color: $ui.color.violet
        font-family: $ui.font.marck
        font-size: 36px
        line-height: 1

    &__map
        margin: 36px 0

    &__score-button
        margin-top: 36px
