.map-screen
    &__map
        margin: 1rem 0
        overflow: hidden

    &__step-separator
        display: none
        font-size: 0

@media screen and (max-width: $ui.breakpoint.tablet)
    .map-screen
        &__map
            margin: 0.5rem 0 0

        &__step-separator
            display: block

        &__subheader
            visibility: hidden
            font-size: 0

        &__content
            width: 90%
