$bar-border-width = 2px
$bar-inner-height = 16px
$bar-shadow-blur = 4px

.health
    ui-game-panel()
    right: $ui.size.game-panel + $ui.size.base

    &__container
        height: $bar-inner-height
        width: 100%
        margin-top: ($ui.size.margin / 3)
        border: $bar-border-width solid $ui.color.white
        box-sizing: border-box
        background: $ui.color.black
        border-radius: ($bar-inner-height + 2 * $bar-border-width) * 0.5

    &__value,
    &__value::after
        display: block
        height: 100%
        width: 100%
        border-radius: 0.5 * $bar-inner-height

    &__value
        background: $ui.color.red
        box-shadow: 0 0 $bar-shadow-blur $ui.color.red
        transition: width $ui.transition.default

        &::after
            content: ''
            background: linear-gradient(
                to bottom,
                rgba($ui.color.white, 0),
                rgba($ui.color.white, 0.25)
            )
