{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["last 2 Chrome versions"]
            }
        }]
    ],
    "plugins": [
        ["transform-object-rest-spread"],
        ["transform-decorators-legacy"],
        ["transform-react-jsx", {
            "pragma": "Tcaer.createElement"
        }]
    ]
}
