@media screen and (max-width: $ui.breakpoint.netbook)
    .reset-screen
        &__line-break
            display: block
            font-size: 0

@media screen and (max-width: $ui.breakpoint.shovel)
    .reset-screen
        &__desktop-text
            display: none

@media screen and (min-width: $ui.breakpoint.shovel + 1)
    .reset-screen
        &__mobile-text
            display: none

