$image-size = 200px

.step
    display: inline-block
    margin: 0 $ui.size.margin
    transition: transform $ui.transition.fast, filter $ui.transition.fast

    &_disabled_true
        filter: grayscale(1)

    &_disabled_false
        cursor: pointer

        &:hover
            transform: rotate(10deg) scale(1.05)

@media screen and (max-width: $ui.breakpoint.desktop)
    .step
        &__image
            width: 0.75 * $image-size

@media screen and (max-width: $ui.breakpoint.netbook)
    .step
        margin: 0

@media screen and (max-width: $ui.breakpoint.tablet)
    .step
        width: 50%

@media screen and (max-width: $ui.breakpoint.shovel) and (max-height: 640px)
    .step
        &__image
            width: 0.625 * $image-size
