body
    background: #000
    color: #fff
    margin: 0
    padding: 0
    font-family: 'Orbitron', sans-serif
    line-height: 1

.app
    position: relative
    width: 800px
    height: 600px

    &__screen,
    &__background
        absolute: top 0 left 0
        height: 100%
        width: 100%
        opacity: 0
        visibility: hidden
        transition: opacity 0.5s, visibility 0.5s

    &__background
        opacity: 1
        visibility: visible
        background: linear-gradient(-45deg, lighten(red, 50%) 20%, lighten(red, 50%) 20.01%, lighten(orange, 50%) 40%, lighten(orange, 50%) 40.01%, lighten(green, 80%) 90%, lighten(green, 80%) 90.01%, lighten(blue, 80%))

        &::before
            content: ''
            display: block
            height: 100%
            width: 100%
            opacity: 0.25
            background-image: repeating-linear-gradient(45deg, white 0px, white 200px, transparent 201px, transparent 300px)
            background-size: 100%

    &[data-screen='game'] .app__background
        opacity: 0
        visibility: hidden

    &[data-screen='game'] .app__screen_id_game,
    &[data-screen='menu'] .app__screen_id_menu,
    &[data-screen='map'] .app__screen_id_map,
    &[data-screen='settings'] .app__screen_id_settings,
    &[data-screen='pause'] .app__screen_id_pause
        opacity: 1
        visibility: visible

.game
    &__canvas
        display: block


    &__header
        absolute: top 30px left 30px
        opacity: 0.4
        margin: 0
        padding: 0

.menu
    color: black

    &__header
        color: lightblue
        position: relative
        text-align: center
        font-size: 72px
        text-shadow: 3px 0 0 orange, 6px 0 0 green, 9px 0 0 blue, 12px 0 0 purple

    &__description
        position: relative

    &__list
        position: relative
        font-size: 24px
        cursor: pointer

.score
    absolute: top 30px right 50px
    text-align: center

    &__label
        margin: 0

    &__value
        margin: 0
        font-size: 32px

.health
    absolute: top 30px right 150px
    text-align: center

    &__label
        margin: 0

    &__value
        margin: 0
        font-size: 32px

.map
    &__step
        font-size: 72px
        cursor: pointer

        &:hover
            color: red
