$ui = {
    color: {
        transparent: transparent,
        black: #191919,
        white: #ffffff,
        seashell: #f3cbf3,
        pink: #f48fda,
        violet: #9633d7,
        ultraviolet: #392274,
        blue: #3f3abf,
        red: #f34213,
        green: #86e01e,
        aqua: #1a8b8e,
        yellow: #ffdc2e
    },
    font: {
        ruslan: 'Ruslan Display'\, cursive,
        marck: 'Marck Script'\, cursive
    },
    transition: {
        fast: 100ms,
        default: 300ms,
        slow: 500ms
    }
}
