$image-size = 200px

.step
    position: relative
    display: inline-block
    margin: 0 $ui.size.margin
    transition: transform $ui.transition.fast, filter $ui.transition.fast

    &__score
        ui-text-stroke($ui.color.white)
        absolute: bottom 0 left 50%
        font-size: 0.75rem
        color: $ui.color.blue
        transform: translateX(-50%)

    &_disabled_true
        filter: grayscale(1)

        .step__score
            display: none

    &_disabled_false
        cursor: pointer

        &:hover
            transform: rotate(10deg) scale(1.05)

@media screen and (max-width: $ui.breakpoint.desktop), screen and (max-height: 800px)
    .step
        &__image
            width: 0.75 * $image-size

@media screen and (max-width: $ui.breakpoint.netbook)
    .step
        margin: 0

@media screen and (max-width: $ui.breakpoint.tablet)
    .step
        width: 50%

@media screen and (max-width: $ui.breakpoint.shovel) and (max-height: 640px)
    .step
        &__image
            width: 0.625 * $image-size
