.score
    ui-game-panel()

    &__value
        color: $ui.color.black
        font-size: 0.666rem
        transition: color $ui.transition.slow

    &_trend_down
        .score__value
            color: mix($ui.color.black, $ui.color.red)

    &_trend_up
        .score__value
            color: mix($ui.color.black, $ui.color.green)
