.winner-screen
    &__link,
    &__link:hover
        display: block
        color: inherit
        text-decoration: none

@media screen and (max-width: $ui.breakpoint.tablet)
    .winner-screen
        &__line-break
            font-size: 0
            display: block
