.settings-editor
    fixed: top 0 right 0
    width: 300px
    height: 300px
    padding: $ui.size.margin
    border-bottom: 1px $ui.color.white solid
    box-sizing: border-box
    background: $ui.color.black
    font-size: 0.4rem

    &__header
        font-weight: bold

    &__label
        display: block
        text-align: right

    &__text
        float: left

    &__input
        font-size: 0.4rem
        max-width: 100px

    &__code-editor-button
        margin-top: $ui.size.margin * 0.5
        float: right
        font-size: 0.4rem
