.menu
    height: calc(100% - 300px)
    width: 300px
    fixed: top 300px right 0
    padding: $ui.size.margin
    box-sizing: border-box
    background: $ui.color.black
    font-size: 0.4rem
    overflow-y: scroll

    &__entity
        cursor: pointer

        &:hover
            color: $ui.color.pink

        &_selected_true
            color: $ui.color.pink
            font-weight: bold
