.menu
    box-sizing: border-box
    fixed: top 0 right 0
    height: 100%
    width: 300px
    padding: 24px
    background: black
    color: white
    font-size: 0.4rem
    line-height: 1.5
    overflow-y: scroll

    &__entity
        cursor: pointer

        &:hover
            color: red

        &_selected_true
            font-weight: bold
