.information
    width: 400px
    absolute: top 30px left 50%
    text-align: left
    background: rgba($ui.color.black, 0.75)
    color: $ui.color.white
    font-family: 'Marck Script', cursive
    font-size: 24px
    padding: 12px
    border-radius: 8px
    transform: translateX(-50%)

    &:empty
        display: none
