line-pattern($angle)
    background-image: repeating-linear-gradient(
        $angle,
        $ui.color.white 0,
        $ui.color.white 200px,
        $ui.color.transparent 201px,
        $ui.color.transparent 300px
    )

.background-screen
    background: $ui.color.seashell

    &::before,
    &::after
        ui-stretched()
        content: ''
        display: block
        opacity: 0.25
        background-size: 100%

    &::before
        line-pattern(45deg)

    &::after
        line-pattern(-45deg)

    &__canvas
        ui-stretched()
        pointer-events: none
        z-index: 10
        mix-blend-mode: screen
