.screen
    absolute: top 0 left 0
    height: 100%
    width: 100%
    opacity: 0
    visibility: hidden
    transition: opacity 0.5s, visibility 0.5s

    &_active_true
        opacity: 1
        visibility: visible
