.help
    height: 100%
    width: 100%
    fixed: top 0 left 0
    display: table
    background: $ui.color.seashell
    color: $ui.color.black
    font-size: 0.5rem

    &__cell
        display: table-cell
        text-align: center
        vertical-align: middle

    &__container
        display: inline-block
        text-align: left

    &__hotkey
        color: $ui.color.ultraviolet
        font-weight: bold

    &__button
        font-size: 0.4rem

    &_opened_false
        display: none
