.menu-screen
    &__link,
    &__link:hover
        display: block
        color: inherit
        text-decoration: none

@media screen and (min-width: $ui.breakpoint.shovel + 1)
    .menu-screen
        &__header
            position: relative
            padding-top: 0.75rem
            top: 0.5rem
            font-size: 2.25rem

        &__subheader
            padding-top: 0
            font-size: 1.5rem
