.menu-screen
    color: black

    &__header
        color: lightblue
        position: relative
        text-align: center
        font-size: 72px
        text-shadow: 3px 0 0 orange, 6px 0 0 green, 9px 0 0 blue, 12px 0 0 purple

    &__description
        position: relative

    &__list
        position: relative
        font-size: 24px
        cursor: pointer
