.button
    display: inline-block
    font-size: 48px
    color: $ui.color.blue
    transition: color $ui.transition.fast

    &_disabled_false
        cursor: pointer

        &:hover
            color: $ui.color.ultraviolet
