.button
    display: inline-block
    margin: ($ui.size.margin / 3) 0
    color: $ui.color.blue
    transition: color $ui.transition.fast

    &_disabled_false
        cursor: pointer

        &:hover
            color: $ui.color.ultraviolet
