.checkbox
    display: inline-block
    width: 100%
    margin: ($ui.size.margin / 3) 0
    color: $ui.color.blue
    cursor: pointer
    transition: color $ui.transition.fast

    &__input
        width: 0
        height: 0
        position: absolute
        visibility: hidden
        pointer-events: none

        &:not(:checked) + .checkbox__circle
            color: $ui.color.transparent

    &__circle
        ui-circle(1rem)
        margin-top: -0.25rem
        float: right
        background: $ui.color.pink
        line-height: 1.4
        text-align: center
        vertical-align: top
        transition: color $ui.transition.default

    &:hover
        color: $ui.color.ultraviolet
