.winner-screen
    &__header
        margin-top: 144px
        margin-bottom: 18px
        color: $ui.color.violet
        font-size: 72px
        line-height: 1

    &__menu
        padding-top: 72px
